body{
    background: rgb(15, 228, 72);
    display: grid;
    place-content: center;

}

  
#all{
    height: 500px;
    width: 500px;
    background-color: rgb(52, 217, 217);
    border: 8px solid rgb(255, 255, 255);
    border-radius: 5%;
    display: grid;
    place-content: center;
    margin-top: 25%;
}
#min ,#sec ,#milli{
background: rgb(215, 61, 61);
height: 60px;
width: 144px;
border: 3px solid yellow;
border-radius: 10%;
margin: 10px;
display: grid;
place-content: center;
font-size: 40px;
font-weight: 700;
font-family: 'Pacifico', cursive;
}
#min:hover ,#sec:hover ,#milli:hover{
background: rgb(255, 255, 255);
color: black;
height: 75px;
width: 180px;
border: 6px solid rgb(0, 0, 0);
border-radius: 10%;
margin: 10px;
font-size: 60px;
}
#screen{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 180px;
    color: white;
    border-radius: 10%;
    
}
#buttons{
    background-color: rgb(209, 72, 175);
    display: flex;

    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    border: 3px solid ;
    box-sizing: border-box;
    border-radius: 10%;
}

#start,#reset{
    background-color: red;
    font-size: 18px;
    font-weight: 700;
    border: 5px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    box-shadow: 2px 2px 4px rgb(43, 2, 2);
}

#start:hover,#reset:hover{
    background-color: rgb(0, 255, 42);
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0px 0px 6px rgb(104, 7, 7);
}

#start,#reset,#milli,#sec,#min{
transition : all 0s 0.5s ease;
}
