/* <div id="all">
    <div id="container">
        <h2 id="question"></h2>
        <button id="opt1" class="b"></button>
        <button id="opt2" class="b"></button>
        <button id="opt3" class="b"></button>
        <button id="opt4" class="b"></button>
        <h2 id="money">Lorem ipsum dolor sit.</h2>
        <button id="id">Next</button>
    </div>
    <p id="developer" >Developed by  <strong> Prince K</strong></p>
</div> */
*{
margin: 0px;
padding: 0px;
background: #fff;
}
body{
    display: grid;
    place-content: center;
}
#all{
    height: 800px;
    width: 1200px;
    display: grid;
    place-content: center;
    background: #000;
    border-radius: 25px;
}
#container{
    height: 600px;
    width: 900px;
    background: white;
    display: grid;
    place-content: center;
    border: 4px solid green;
    border-radius: 25px;
}
#question{
    margin-left: 50px;
    border: 4px solid rgb(0, 0, 0);
    border-radius:25px;
    height: 200px;
    width:800px;
    display: grid;
    place-content: center;
    font-size: 30px;
    font-family: 'Cavolini';
    font-weight: 1000;
}

.b{
    border: 4px solid black;
    border-radius: 25px;
    height: 60px;
    width: 350px;
    margin-top: 10px;
    margin: 5px;
    margin-left: 65px;
    margin-top: 35px;
    background-color: rgba(243, 238, 160, 0.593);
    font-size: 20px;
    font-family: 'Cavolini';
    font-weight: 1000;
}
.b:hover{
    border: 4px solid black;
    border-radius: 25px;
    height: 60px;
    width: 350px;
    margin-top: 10px;
    margin: 5px;
    margin-left: 65px;
    margin-top: 35px;
    background-color: rgba(221, 208, 27, 0.593);
}
#money{
    /* display: none; */
    text-align: center;
    border: 3px solid black;
    border-radius: 10%;
    height: 70px;
    width: 700px;
    /* margin-top: 5px;
    margin-bottom:5px;
    margin-left: 100px; */
    font-family: 'Sacramento','Pacific';
    font-size: 40px;
    margin-top: 20px;
    margin-left: 125px;
}
#developer{
    font-family: 'Sacramento','Pacific';
    margin-left: 700px;
    display: inline;
    color: white;
    background: #000;
}

#id{
    visibility: visible;
    height: 40px;
    width: 200px;
    background: #000;
    color: #fff;
    margin-left: 620px;
    margin-top:30px;
    border: 3px solid red;
    border-radius: 20px;
    font-size: 25px;
    font-family:'Cavolini';
}
#id:hover{
    height: 40px;
    width: 200px;
    background: #000;
    color: #fff;
    margin-left: 620px;
    margin-top:30px;
    border: 3px solid rgb(0, 255, 26);
    border-radius: 20px;
    font-size: 25px;
    font-family:'Cavolini';
}
#clic{
    border: 0px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
}
#developer{
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    font-family: "Sacramento","Cavolini";
    font-size: 20px;
    font-weight: 1000;
    /* display: inline-block; */
    
}
#developer:hover{
    background: rgb(255, 255, 255);
    color: rgb(43, 0, 255);
    font-weight: 2000;
    font-family: "Sacramento","Cavolini";
    font-size: 20px;
}