body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.76em;
  --top-offset: 98.19vh;
  --fall-duration: 8.116s;
  --fall-delay: 8.037s;
}
.star:nth-child(2) {
  --star-tail-length: 5.42em;
  --top-offset: 25.57vh;
  --fall-duration: 10.499s;
  --fall-delay: 7.898s;
}
.star:nth-child(3) {
  --star-tail-length: 6.51em;
  --top-offset: 79.79vh;
  --fall-duration: 6.649s;
  --fall-delay: 6.72s;
}
.star:nth-child(4) {
  --star-tail-length: 6.67em;
  --top-offset: 99.2vh;
  --fall-duration: 8.903s;
  --fall-delay: 2.047s;
}
.star:nth-child(5) {
  --star-tail-length: 5.16em;
  --top-offset: 86.1vh;
  --fall-duration: 9.275s;
  --fall-delay: 5.364s;
}
.star:nth-child(6) {
  --star-tail-length: 5.8em;
  --top-offset: 0.08vh;
  --fall-duration: 9.789s;
  --fall-delay: 1.278s;
}
.star:nth-child(7) {
  --star-tail-length: 6.83em;
  --top-offset: 87.11vh;
  --fall-duration: 7.573s;
  --fall-delay: 4.496s;
}
.star:nth-child(8) {
  --star-tail-length: 5.37em;
  --top-offset: 0.28vh;
  --fall-duration: 6.128s;
  --fall-delay: 0.899s;
}
.star:nth-child(9) {
  --star-tail-length: 7.44em;
  --top-offset: 84.77vh;
  --fall-duration: 8.814s;
  --fall-delay: 2.344s;
}
.star:nth-child(10) {
  --star-tail-length: 5em;
  --top-offset: 77.35vh;
  --fall-duration: 9.293s;
  --fall-delay: 3.989s;
}
.star:nth-child(11) {
  --star-tail-length: 6.6em;
  --top-offset: 57.31vh;
  --fall-duration: 9.674s;
  --fall-delay: 5.451s;
}
.star:nth-child(12) {
  --star-tail-length: 6.29em;
  --top-offset: 2.31vh;
  --fall-duration: 7.591s;
  --fall-delay: 2.672s;
}
.star:nth-child(13) {
  --star-tail-length: 5.17em;
  --top-offset: 97.4vh;
  --fall-duration: 9.707s;
  --fall-delay: 6.033s;
}
.star:nth-child(14) {
  --star-tail-length: 7.14em;
  --top-offset: 5.16vh;
  --fall-duration: 8.986s;
  --fall-delay: 0.872s;
}
.star:nth-child(15) {
  --star-tail-length: 5.98em;
  --top-offset: 99.7vh;
  --fall-duration: 7.392s;
  --fall-delay: 6.374s;
}
.star:nth-child(16) {
  --star-tail-length: 6.72em;
  --top-offset: 15.87vh;
  --fall-duration: 11.111s;
  --fall-delay: 2.197s;
}
.star:nth-child(17) {
  --star-tail-length: 5.5em;
  --top-offset: 13.9vh;
  --fall-duration: 8.578s;
  --fall-delay: 6.041s;
}
.star:nth-child(18) {
  --star-tail-length: 6.74em;
  --top-offset: 80.21vh;
  --fall-duration: 8.909s;
  --fall-delay: 3.867s;
}
.star:nth-child(19) {
  --star-tail-length: 6.73em;
  --top-offset: 52.72vh;
  --fall-duration: 10.249s;
  --fall-delay: 9.767s;
}
.star:nth-child(20) {
  --star-tail-length: 5.91em;
  --top-offset: 95.14vh;
  --fall-duration: 7.561s;
  --fall-delay: 1.438s;
}
.star:nth-child(21) {
  --star-tail-length: 6.9em;
  --top-offset: 74.63vh;
  --fall-duration: 11.154s;
  --fall-delay: 0.081s;
}
.star:nth-child(22) {
  --star-tail-length: 5.92em;
  --top-offset: 20.97vh;
  --fall-duration: 11.872s;
  --fall-delay: 6.209s;
}
.star:nth-child(23) {
  --star-tail-length: 5.15em;
  --top-offset: 54.6vh;
  --fall-duration: 6.347s;
  --fall-delay: 5.601s;
}
.star:nth-child(24) {
  --star-tail-length: 7.36em;
  --top-offset: 78.07vh;
  --fall-duration: 11.038s;
  --fall-delay: 5.159s;
}
.star:nth-child(25) {
  --star-tail-length: 7.12em;
  --top-offset: 31.9vh;
  --fall-duration: 10.389s;
  --fall-delay: 1.533s;
}
.star:nth-child(26) {
  --star-tail-length: 7.07em;
  --top-offset: 28.85vh;
  --fall-duration: 7.665s;
  --fall-delay: 4.524s;
}
.star:nth-child(27) {
  --star-tail-length: 7.01em;
  --top-offset: 96.78vh;
  --fall-duration: 7.31s;
  --fall-delay: 9.677s;
}
.star:nth-child(28) {
  --star-tail-length: 6.32em;
  --top-offset: 73.65vh;
  --fall-duration: 6.227s;
  --fall-delay: 9.149s;
}
.star:nth-child(29) {
  --star-tail-length: 6.55em;
  --top-offset: 76.85vh;
  --fall-duration: 6.51s;
  --fall-delay: 7.535s;
}
.star:nth-child(30) {
  --star-tail-length: 5.69em;
  --top-offset: 39.78vh;
  --fall-duration: 6.052s;
  --fall-delay: 9.174s;
}
.star:nth-child(31) {
  --star-tail-length: 6.3em;
  --top-offset: 10.89vh;
  --fall-duration: 11.799s;
  --fall-delay: 8.682s;
}
.star:nth-child(32) {
  --star-tail-length: 6.32em;
  --top-offset: 36.5vh;
  --fall-duration: 11.476s;
  --fall-delay: 0.872s;
}
.star:nth-child(33) {
  --star-tail-length: 6.49em;
  --top-offset: 32.61vh;
  --fall-duration: 10.448s;
  --fall-delay: 1.321s;
}
.star:nth-child(34) {
  --star-tail-length: 6.15em;
  --top-offset: 2.92vh;
  --fall-duration: 11.502s;
  --fall-delay: 9.9s;
}
.star:nth-child(35) {
  --star-tail-length: 6.28em;
  --top-offset: 48.93vh;
  --fall-duration: 7.974s;
  --fall-delay: 9.356s;
}
.star:nth-child(36) {
  --star-tail-length: 6.33em;
  --top-offset: 85.84vh;
  --fall-duration: 10.051s;
  --fall-delay: 3.958s;
}
.star:nth-child(37) {
  --star-tail-length: 6.4em;
  --top-offset: 90.62vh;
  --fall-duration: 11.963s;
  --fall-delay: 4.856s;
}
.star:nth-child(38) {
  --star-tail-length: 6.4em;
  --top-offset: 79.17vh;
  --fall-duration: 10.496s;
  --fall-delay: 6.765s;
}
.star:nth-child(39) {
  --star-tail-length: 6.03em;
  --top-offset: 45.97vh;
  --fall-duration: 6.38s;
  --fall-delay: 1.875s;
}
.star:nth-child(40) {
  --star-tail-length: 5.94em;
  --top-offset: 86.84vh;
  --fall-duration: 7.648s;
  --fall-delay: 0.154s;
}
.star:nth-child(41) {
  --star-tail-length: 7.14em;
  --top-offset: 45.01vh;
  --fall-duration: 10.737s;
  --fall-delay: 0.407s;
}
.star:nth-child(42) {
  --star-tail-length: 7.46em;
  --top-offset: 69.41vh;
  --fall-duration: 9.924s;
  --fall-delay: 0.741s;
}
.star:nth-child(43) {
  --star-tail-length: 5.83em;
  --top-offset: 39.34vh;
  --fall-duration: 8.901s;
  --fall-delay: 7.1s;
}
.star:nth-child(44) {
  --star-tail-length: 5.35em;
  --top-offset: 31.66vh;
  --fall-duration: 11.995s;
  --fall-delay: 4.888s;
}
.star:nth-child(45) {
  --star-tail-length: 7.06em;
  --top-offset: 20.21vh;
  --fall-duration: 10.184s;
  --fall-delay: 8.059s;
}
.star:nth-child(46) {
  --star-tail-length: 5.62em;
  --top-offset: 14.06vh;
  --fall-duration: 10.023s;
  --fall-delay: 4.528s;
}
.star:nth-child(47) {
  --star-tail-length: 6.6em;
  --top-offset: 6.61vh;
  --fall-duration: 9.927s;
  --fall-delay: 9.85s;
}
.star:nth-child(48) {
  --star-tail-length: 5.04em;
  --top-offset: 97.44vh;
  --fall-duration: 10.738s;
  --fall-delay: 4.727s;
}
.star:nth-child(49) {
  --star-tail-length: 5.32em;
  --top-offset: 23.23vh;
  --fall-duration: 7.697s;
  --fall-delay: 7.169s;
}
.star:nth-child(50) {
  --star-tail-length: 5.06em;
  --top-offset: 94.92vh;
  --fall-duration: 10.929s;
  --fall-delay: 8.766s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}