/* <div id="cbg1">
        <div id="cbg2">
            <div id="wrapper">
                <input type="text" placeholder="Enter the name" id="inp">
                <button id="but">SUBMIT</button>
            </div>
        </div>
    </div> */

body{
    display: grid;
    place-content: center;
    padding: 0px;
    margin: 0px;
    background: rgb(215, 94, 94);
    height: 100%;
    width: 100%;
}

#cbg1{
    display: grid;
    place-content: center;
    height: 800px;
    width: 1200px;
    background: rgb(248, 0, 0);
    border-radius: 40px;
}

#cbg2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 900px;
    background: #fff;
    border-radius: 40px;
    /* flex-wrap: wrap; */
}

#inp{
    height: 50px;
    width: 250px;
    background: #000;
    color: #fff;
    border-radius: 20px;
    margin-right: 20px;
    font-size: 20px;
    padding-left: 10px;
}

#but{
    background: rgb(242, 255, 0);
    height: 30px;
    width: 100px;
    border: 3px dashed red;
    font-weight: 700;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 20px;
}
#but:hover{
    background: rgb(0, 255, 47);
    height: 30px;
    width: 100px;
    border: 5px dashed rgb(0, 13, 255);
    font-weight: 700;
    border-radius: 30px;
}

.box{
    height: 120px;
    width: 120px;
    background: #000;
    border: 4px dotted white;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    font-family: "Sacramento","Cavolini";
    margin: 10px;
    padding: 16px;
}
.box:hover{
    height: 120px;
    width: 120px;
    background: #000;
    border: 4px dashed blue;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    font-family: "Sacramento","Cavolini";
    margin: 10px;
    padding: 16px;
}
