*{
    padding: 0px;
    margin: 0px;
    background: yellow;
}
img{
    height: 150px;
    width: auto;
    margin: auto;
    display: block;
}
body{
    margin-top: 5%;
    display: grid;
    place-items: center;
}

#aalu{
    display: block;
background: red;
height: 80vh;
width: 80vw;
/* overflow: hidden; */

}

p{
display:block;
text-align: center;
width: 20%;
margin: auto;
padding: 20px;
}

.block{
    margin: 0px;
    padding: 0px;
    background: #000;
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 10px;
    display:inline-block;
}

#aalu{
    display: flex;
    flex-wrap: wrap-reverse;
    overflow: hidden ;
}