.p{
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 0 0 2px #121212,0 0 5px #1235f4,0 0 10px #1235f4;
    animation: animate linear forwards;
}

body{
    background-color: black;
    min-height: 100vh;
}

@keyframes animate{
    0%{
        opacity: 1;
        transform: translate(0,0) scale(1);
    }
    100%{
        opacity: 0;
        transform: translate(var(--move-x), var(--move-y)) scale(0.5);
    }
}