*{
    border:0;
    outline:0;
    padding:0;
    margin: auto;
}
body{
    background: black;
}

#bg{
    background-color: whitesmoke;
    height:100vh;
    width:100%;
    display: grid;
    place-content: center;
    box-sizing: border-box;
}
#clic{
background: white;
height: 120px;
width: 180px;
color: rgb(0, 0, 0);
border-radius: 35%;
background-color: rgb(255, 255, 255);
font-size: 35px;
font-family: 'Pacifico', cursive;

border:15px;
}